@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
h1{
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

h2{
    color: #494949;
    font-family: Inria Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    color: #494949;
    font-family: Inria Serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

p{
    font-family: Forum;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:#666666;
}

footer{
    background-color: #f0edea;
}

footer h2{
    color: #CD7B63;
    font-family: Inria Serif;
}

a{
    text-decoration: none;
    color: rgba(73, 73, 73, 0.70);
    font-family: Inria Serif;
}

header{
    background-color: #f0edea;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
    font-family: Inria Serif;
    color: #494949;
    font-weight: 500;
}

header button{
    border-color: #CD7B63;
    background-color: #CD7B63;
    padding: 5px 12px;
    margin-left: 20px;
}

button{
    border-color: #CD7B63;
    background-color: #CD7B63;
    padding: 5px 12px;
    margin-left: 20px;
}

.banner-text {
    padding: 90px 128px 40px 20px;
}

.footer-row{
    padding-left: 8%;
    padding-right: 8%;
}

.banner{
    background-image: url('../assets/img/beautiful-wedding-chairs-wedding-dinner-table-dec-4BU9HQX\ 1.png'); 
    background-size: cover; 
    background-position: center; 
    width: 100%;
}
.botoes {
    display: inline-block;
    margin-top: 8px;
    font-family: Forum;
    text-align: center; 
}

.botao1{
    border-color: #CD7B63;
    background-color: #CD7B63;
    padding: 10px 30px;
    margin-right: 30px;
}

.botao2{
    border-color: #DDDDDD;
    background-color: transparent;
    padding: 10px 50px;
}

.nossos-casamentos{
    background-color:#f0edea;
    padding: 40px 30px;
}

.feedback-casais{
    background-color: #FEFBF4;
    padding: 40px 30px;
}

.card{
    background-color: #FEFBF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0;
}

.direitos{
    background-color: #FEFBF4;;
    padding-left: 8%;
    padding-right: 8%;
    color: #464646;
    font-family: Inria Serif;
}

.direitos-register{
    background-color: #f0edea;;
    padding-left: 8%;
    padding-right: 8%;
    color: #464646;
    font-family: Inria Serif;
}

.card-body {
    height: 384px;
}

.dropdown-bg{
    background-color:#f0edea ;
}

.logo-register{
    background-color: #f0edea;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
}

.img-register{
    background-image: url('../assets/img/login_photo.webp'); 
    background-size: cover; 
    background-position: center; 
    width: 100%;
    padding: 80px;
    opacity: 90%;
}

.register-img-text{
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
}

.register-div{
    background-color: #FEFBF4;
    font-family: Inria Serif;
}

.register-body{
    background-color: #FEFBF4;
    padding-left: 24%;
    padding-right: 24%;
    margin: 0;
}

.faca-login{
    color: #CD7B63;
}

.info-register{
    padding-top: 32px;
    padding-bottom: 32px;
}

.a-none{
    text-decoration: none;
    color: rgba(73, 73, 73, 0.70);
    font-family: Inria Serif;
}

.cadastro-de-casamento{
    background-color: #FEFBF4;
}

.home-meu-casamento{
    background-color: #FEFBF4;
    margin: 0px;
}

.card-custom {
    height: 200px; /* Defina a altura desejada */
}

.icone{
    color: #CD7B63;
}

.card-title{
    color: #CD7B63;
}
